#!/bin/bash
#!/bin/bash
COMMIT_MSG_FILE=$1
COMMIT_SOURCE=$2
SHA1=$3

git-llm-utils generate > $COMMIT_MSG_FILE.llm && cat - $COMMIT_MSG_FILE >> $COMMIT_MSG_FILE.llm && mv $COMMIT_MSG_FILE.llm $COMMIT_MSG_FILE
