#!/bin/bash
COMMIT_MSG_FILE=$1
uv run python src/cli.py > $COMMIT_MSG_FILE.llm && sed -i "s/^/# /" $COMMIT_MSG_FILE.llm && cat - $COMMIT_MSG_FILE >> $COMMIT_MSG_FILE.llm && mv $COMMIT_MSG_FILE.llm $COMMIT_MSG_FILE
