name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - v**

jobs:
  source:
    name: Source Verification
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Verifying source code
        run: make check

  test:
    name: Tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Running tests
        run: make tests